.login {
  width: 100vw;
  background-color: #f0f2f5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  width: 70%;
  height: 70%;
}

.login-left,
.login-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  color: #1775ee;
  font-weight: 800;
  font-size: 6vmin;
}

.login-desc {
  font-size: 1.5vw;
}

.login-box {
  height: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-input {
  font-size: 17px;
  font-weight: 500;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 18px;

  cursor: pointer;
}

.login-input:focus {
  outline: none;
}

.forgot-text {
  color: #1775ee;
  text-align: center;
  cursor: pointer;
}

.login-btn,
.register-btn {
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  border: none;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

.login-btn:hover,
.register-btn:hover {
  opacity: 0.8;
}

.login-btn {
  background-color: #1775ee;
}

.register-btn {
  width: 60%;
  background-color: #42b72a;
  align-self: center;
}
