.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 20px 0 0;
}

.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthday-text {
  font-size: 15px;
  font-weight: 300;
}

.ad-img {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbar-title {
  margin-bottom: 20px;
}

.rightbar-fri-list {
  margin: 0;
  padding: 0;
}

.rightbar-f-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightinfo {
  margin-bottom: 30px;
}

.rightinfo-item {
  margin-bottom: 10px;
}

.rightinfo-key {
  color: #555;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.rightinfo-value {
  font-weight: 300;
}

.rightbar-following-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.rightbar-followings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2px;
}

.rightbar-following {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
